# Dependencies
node_modules
.pnp
.pnp.js

# Next.js
.next
out

# Production
build
dist

# Prisma
prisma/migrations

# Environment
.env
.env.local
.env.*.local

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea

# Misc
*.log

# Backups
app-backup-*
.vercel
.env*
